@import url(../../index.css);
@import url(../../css/rules.css);
.fav-main-section {
  margin-top: var(--space-xl);
}
.fav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fav-title h2 {
  margin: 0.5em;
  margin-left: 0;
}
.fav-title label {
  display: block;
  align-self: center;
}
