@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("./css/rules.css");

/* main */
main {
    margin: 0 auto;
    padding: var(--space-xs) 0;
}

.banner {
    margin-top: 5em;
    position: relative;
    display: grid;
    justify-content: start;
    padding: var(--space-sm);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7401085434173669) 0%, rgba(57, 57, 57, 1) 0%, rgba(84, 84, 84, 1) 26%, rgba(107, 107, 107, 1) 48%, rgba(173, 173, 173, 1) 100%, rgba(206, 206, 206, 1) 100%, rgba(255, 255, 255, 1) 100%);
    border-radius: 20px;
    height: 40vh;
}

.vector img {
    position: absolute;
    width: 170px;
    height: auto;
    bottom: 0;
    right: 10px;
}

.vector1 img {
    display: none;
}

.rightImg {
    display: none;
}

.promoText h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: var(--font-xl);
    margin-top: 0;
    margin-bottom: var(--space-xxs);
}

.bannerText {
    line-height: 1.3em;
}

.bannerText span {
    font-size: var(--font-xs);
}

/* for sidebar */
.sidebar {
    display: none;
}

/* gallery */
.main {
    display: block;
    margin: var(--space-xs) auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-xs);
}

.item {
    cursor: pointer;
    border-radius: 1em;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.item-title {
    font-weight: bold;
}

.item button {
    cursor: pointer;
}

.item-description {
    display: flex;
    justify-content: space-between;
    padding: var(--space-sm);
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.fav {
    cursor: pointer;
    font-size: var(--font-sm);
}

.fav:hover {
    color: #dd4d50;
}

.chosen {
    color: #dd4d50;
}

.item-data h4 {
    margin: 0;
}

.item-data ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons {
    display: flex;
    gap: var(--space-sm);
}

.cart:hover {
    /* color: #2c58c6; */
    color: var(--blue);
}

#discount {
    cursor: pointer;
    text-align: center;
    background-color: var(--dark-grey-small-opacity);
    outline: none;
    border: none;
}

.main-section {
    margin-top: var(--space-md);
}

.main-head h2 {
    align-self: center;
    margin: 0;
}

.main-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--space-sm);
}

.topbar {
    align-self: center;
}

#filter {
    padding: var(--space-xxs) var(--space-sm);
}

@media only screen and (min-width:768px) {
    main {
        margin: 0 auto;
        padding: var(--space-xs) 0;
    }

    .banner {
        margin-top: var(--space-xl);
        height: 45vh;
        justify-content: center;
    }

    .vector img {
        right: 4em;
        width: 200px;
    }

    .vector1 img {
        display: block;
        position: absolute;
        width: 170px;
        height: auto;
        bottom: 0;
        left: 4em;
    }

    /* splitting left and right*/
    .main {
        display: grid;
        grid-template-columns: 25% auto;
        gap: var(--space-lg);
        margin-top: var(--space-xs);
    }

    /* leftside bar */
    .sidebar {
        display: block;
        position: sticky;
        top: var(--space-xxl);
        height: fit-content;
    }

    .sidebar-nav {
        position: relative;
        display: flex;
        padding: 15px 20px;
        margin: 10px 0;
        justify-content: space-between;
        background-color: var(--graay);
        border-radius: 10px;
        cursor: pointer;
    }

    .sidebar-nav:hover {
        background-color: var(--graay-small-opacity);
    }

    .sidebar-nav:hover::after {
        content: "";
        width: 2%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
    }

    .sidebar-icon {
        font-size: 1.1em;
    }

    .icon {
        width: 25px;
        height: 25px;
        align-self: center;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    /* gallery or main*/
    .main-section h2 {
        margin-bottom: var(--space-xs);
        font-size: var(--font-md);
        font-weight: bold;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .item img {
        width: 100%;
        height: 230px;
    }

    .topbar {
        display: none;
    }

}